<!-- Breadcrumbs & Search -->
<div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero" style="background-image: url(assets/img/bg/map-sketch.jpg);">
  <div class="g-pos-rel g-z-index-1">
    <!-- Breadcrumbs -->
    <div class="container-fluid g-py-50">
      <ul class="u-list-inline g-font-weight-500 mb-2">
        <li class="list-inline-item g-mr-5">
          <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Home</a>
          <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
        </li>
        <li class="list-inline-item g-mr-5">
          <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Listing</a>
          <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
        </li>
        <li class="list-inline-item g-color-primary">
          <span>List View</span>
        </li>
      </ul>
      <h1 class="h2 mb-0">List View - Apartments and Rooms</h1>
    </div>
    <!-- End Breadcrumbs -->
  </div>
</div>
